html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }
  
  #one {
    background:linear-gradient(#FF671F, #FFFFFF, #046A38)
  }
  
  #two {
    background:linear-gradient(#B31942, #FFFFFF, #0A3161)
  }
  #three {
    background:linear-gradient(#FFFFFF,#1C3578, #E4181C)
  }
  #four {
    background:linear-gradient(#EE1C25,#FFFF00)
  }
  #five {
    background:linear-gradient(#002654,#FFFFFF,#ED2939)
  }
  
  
  
  
  